PORT_HTTPS = 4000
PORT_HTTP = 3000
REDIRECTUNSECURE = True
ADDRESS = localhost

USERNAME = 
PASSWORD = 

GAME_INDEXFUND = {"max": 1, "min": 1}
GAME_STOCKS = {"max": 6, "min": 3}
GAME_COMMODITY = {"max": 3, "min": 3}
GAME_LENGHT_Y_CHART = 7