# =============================
#   Web server configurations
# =============================
WEBSERVER_HTTPS = 4000 # Port for encrypted
WEBSERVER_HTTP = 3000 # Port for unencrypted
WEBSERVER_RUNENCRYPTED = true # UNUSED
WEBSERVER_REDIRECTUNSECURED = true # If true, then all http requests are redirected to https
WEBSERVER_ADDRESS = localhost # Address of your computer, localhost means only you can connect, use 192.168.x.y (private ip address) to open to LAN.

# ============
#    mySQL
# ============
MYSQL_DATABASE = database
MYSQL_USERNAME = username 
MYSQL_PASSWORD = password

# ================
#   Game Config
# ================
GAME_INDEXFUND_MAX = 1
GAME_INDEXFUND_MIN = 1

GAME_STOCKS_MAX = 6
GAME_STOCKS_MIN = 3

GAME_COMMODITY_MAX = 3
GAME_COMMODITY_MIN = 3

GAME_CHARTS_Y_LENGTH = 12 # NOT USED
